.spanwrap {
  line-height: 4em;
  overflow-wrap: break-word;
  font-family   : monospace;
}

.spanwrap span{
  padding       : 8px 16px;
  font-size     : 25px;
}

.keyactive, .keydead{
  margin        : 0 20px;
  background    : black;
  color         : turquoise;
  border-radius : 50%;
}

.keydead{
  background: blue;
  opacity: 0.1;
}