@import url('https://fonts.googleapis.com/css?family=Mystery+Quest&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');

body{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('/img/background.png');
  font-family: 'Ovo', ;
}